*.OBJ

# u4 source code
u4_decompile/SRC/TOOLS/
u4_decompile/SRC/*.EXE
u4_decompile/SRC/ORIGINAL/
u4_decompile/SRC/U4_MAIN.MAP
u4_decompile/SRC/DIFF.TXT
u4_decompile/SRC/LOG.TXT

u4_decompile/DosBox/DOSBox.exe - Shortcut.lnk

u4_decompile/SRC-TITLE/DIFF.TXT

u4_decompile/SRC-TITLE/LOG.TXT

u4_decompile/SRC-TITLE/ORIGINAL/

u4_decompile/SRC-TITLE/TITLE_0.EXE

u4_decompile/SRC-TITLE/TITLE_0.MAP